.title01{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
}

.content01{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.title02{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
}

.content02{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.title03{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline;
}

.content03{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.title04{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline; 
}

.content04{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.title05{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline; 
}

.content05{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.title06{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline; 
}

.content06{
    color: black;
    font-size: 16px;
    font-weight: 900;
}
.title07{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline; 
}

.content07{
    color: black;
    font-size: 16px;
    font-weight: 900;
}
.title08{
    color: black;
    font-size: 25px;
    font-weight: 900;
    text-decoration: underline; 
}

.content08{
    color: black;
    font-size: 16px;
    font-weight: 900;
}

